
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display+SC&family=Vidaloka&display=swap');

.App {
  text-align: center;
}

.header-cotainer{
  display: flex;
  background-color: #fff4ac;
  flex-direction: row;
  justify-content: space-between;
  align-content:center;

}

.logo{
  border: #070706;
  align-items: baseline;
  align-self:flex-start;
 flex-direction: row;
margin-left: 15px;
margin-top:25px;
border-radius: 15px;
box-shadow: 5px 5px 5px rgb(182, 170, 94);
}

.mainHeader{
  display: flex;
  text-align: center;
  flex-direction: row;
  margin-top:60px;
font-size: x-large;
margin-left: 15px;
font-family: 'Playfair Display SC', serif;
font-weight:bolder;
background-color: #ffffff;
margin-bottom:80px; 
box-shadow: 5px 5px 5px rgb(182, 170, 94);

}

.user_avatar--active{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(182, 170, 94);

}
.h6{
  font-family:Arial, Helvetica, sans-serif;
  font-size:larger;
  
}

.user_card--active{
  display: flex;
  flex-direction:column;
 align-items: center;
 justify-content: center;
 flex-flow: column wrap;
 margin: 20px;
 margin-top: 30px;
}

.navBar {
  display:flex;
  flex-direction: row;
  background-color: #ffe500;
  height: 50px;
  
  
}

.bar {
  display:flex;
  flex-direction: column;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 50.33%;
  margin: 0px;
  padding-top: 15px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  font-weight: bold;
 

}

.allArticles_avatar{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(182, 170, 94);
  margin-top: 10px;
}

.itemCard{
  display: flex;
  flex-direction: column;
 background-image: url('https://static.vecteezy.com/system/resources/thumbnails/005/018/822/small/hexagon-mosaic-background-abstract-orange-honeycomb-free-vector.jpg')
}

.Partone_itemCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  margin: 25px;
  padding-bottom:20px;
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
background-color:  #fff4ac;;
}

.article_page-button{
  margin-bottom: 20px;
}

.Article_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
overflow-y: scroll;
background-color: white;
}



.singleArticle_avatar{
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(182, 170, 94);
  margin-top: 10px;
}

.commenter_avatar{
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  box-shadow: 5px 5px 5px rgb(182, 170, 94);
  margin-top: 10px;
}



*{ box-sizing: border-box; }
html,body{ height: 100%; width: 100%; }
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300|Ubuntu+Condensed|Ubuntu+Mono);
body {background: #f8f0b6;}
a {text-decoration: none;}

.hexbuttons {
  display:flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 50px 0 0 70px;
  width: 345px;
 background-image: url(https://pngimg.com/uploads/bee/bee_PNG74682.png);
  background-size: 228px;
 justify-content: center;
  
}
.hexr {
  height: 100px;
  margin-top: -15px;
}
.hexr:nth-child(even) {
  margin-left: 53px;
  width: 220px;
}
.hexagon {
  background: #f5bc1e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 36px;
  height: 55px;
  margin: 0 5px 0 0px;
  position: relative;
	width: 100px;
  border: #f5bc1e;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #f5bc1e;;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #f5bc1e;;
}


.hexagon span { 
  display: block; 
  height: 100%;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}
.hexagon span::before {
  content: attr(title);
  background: #f5bc1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font: 14px 'Ubuntu Mono', monospace;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  width: 100%;
}
.hexagon span::before {
  opacity: 1;
  top: 5px;
  transition: 0.1s all ease-in-out;
}

.cookingitemCard{
  display: flex;
  flex-direction: column;
  background-image: url(https://st3.depositphotos.com/28989096/34087/v/950/depositphotos_340879776-stock-illustration-kitchen-elements-cute-doodle-hand.jpg?forcejpeg=true);
  background-size: contain;


}


.codingitemCard{
  display: flex;
  flex-direction: column;
  background-image: url(https://thumbs.dreamstime.com/b/programming-yellow-line-tile-pattern-vector-illustration-outline-seamless-background-coding-resources-82682683.jpg);
  background-size: contain;
}


.footballitemCard{
  display: flex;
  flex-direction: column;
  background-image: url('https://image.shutterstock.com/image-illustration/illustration-pattern-soccer-balls-on-260nw-1954911397.jpg');
  background-size:contain;

}

.footballHeader{
  display: flex;
  flex-direction: column;
  background-color: #f8f0b6;

}

.cookingHeader{
  display: flex;
  flex-direction: column;
  background-color: #f8f0b6;

}

.codingHeader{
  display: flex;
  flex-direction: column;
  background-color: #f8f0b6;

}


.hexbuttonContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.hexagonbutton:hover{
    cursor: pointer;
 
}

.hexagonbutton {
  background: #f5bc1e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 36px;
  height: 55px;
  margin: 0 5px 0 0px;
  position: relative;
	width: 100px;
  border: #f5bc1e;
}
.hexagonbutton:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #f5bc1e;;
}
.hexagonbutton:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #f5bc1e;;
}


.hexagonbutton span { 
  display: block; 
  height: 100%;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}
.hexagonbutton span::before {
  content: attr(title);
  background: #f5bc1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font: 14px 'Ubuntu Mono', monospace;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  width: 100%;
}
.hexagonbutton span::before {
  opacity: 1;
  top: 5px;
  transition: 0.1s all ease-in-out;
}

.error_message{
  color: red;
  font-weight: bold;

}

@media (min-width:1025px) {
  
}




.likeButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.likeButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #0c9117,
    #1ac144,
    #63dd21,
    #4bff04,
    #10ff74,
    #00ff0d,
    #35b10b,
    #15600d,
    #00a318
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.likeButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}



.dislikeButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.dislikeButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #f90b0b,
    #d44e00,
    #ff2f00,
    #ff1500,
    #7e1100,
    #ff0000,
    #780606
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.dislikeButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.commentsContainer{
  display: flex;
overflow-y: scroll;
overflow-x: hidden;
margin: 10px;
width: 90%;
height: 300px;
margin-left:5%;
flex-direction: column;
text-align: justify;
background-color: white;
padding:15px;
align-self: center;

}

.comment_container{
 margin: 5px;
 padding-left: 17px;
 padding-right: 10px;

background-color: #fff898;
border-style: solid;
border: #000000;

}

.article_body{
  text-align: center;
  padding-left:10%;
  padding-right:10%;
  background-color: white
}


body{
background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/532/223/small/7-01.jpg);
background-size: 1000px;
}

.aboutUsSection{
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 160, 96);
  margin-top: 60px;
  width:80%;
margin-left:10%;
padding-bottom: 20%;
margin-bottom:10%;
}